body{
    padding: 10px;
    margin: 0;
    height: 100vh;
}

body > div {
    height: 100%;
}

.app{
    padding: 10px;
    border: #AAA solid 1px;
    border-radius: 5px;
    height: 100%;
}

.app > .title{
    color: #AAA;
    font-size: 24px;
}

.radio{
    cursor: pointer;
}

.radio * {
    cursor: pointer;
}

.inline-block{
    display: inline-block;
}